---
import Link from "@components/Link.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="About" description="This is about description">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.png"
      alt="My Headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem modi,
        minima fugit quas illo porro! Quas, consequuntur! Itaque iusto minima
        autem illum commodi excepturi eaque, in sed cumque facilis dolores fugit
        rerum sunt recusandae hic asperiores suscipit inventore neque eum.
      </p>
      <Link
        href="mailto:wabimantoro@gmail.com"
        style="primary"
        text="Contact Me"
      />
    </div>
  </section>
</MainLayout>
