---
import { Icon } from "astro-icon";
import Counter from "./Counter";
---

<footer class="flex flex-col">
  <small>
    Copyright &copy; <span id="copyright"></span> | All rights reserved
  </small>
  <small>
    <a href="/rss.xml" class="flex gap-2 justify-center">
      Subscribe to rss <Icon name="tabler:rss" width="20" height="20" />
    </a>
  </small>
</footer>

<script>
  let copyright = document?.querySelector("#copyright");
  if (copyright) {
    copyright.textContent = new Date().getFullYear().toString();
  }
</script>
